html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1 {
    margin: 0px;
    padding-left: 12px;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #5db1cf;
    text-align: center;
    padding: 8px 0;
    bottom: 0;
}

.copyright {
    color: #fff;
}

.footer-link i {
    position: relative;
    top: 5px;
    right: 5px;
}
